<!-- <div  *ngIf="isadmin==true;else commonheader">
    <app-admin-header></app-admin-header>
</div>
<ng-template #commonheader>
    <app-header (isadmin)='checkuserrole($event)'></app-header>
</ng-template> -->

<app-header></app-header>
<app-admin-header></app-admin-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<app-admin-footer></app-admin-footer>